.donate_element {
    width: 225px;
    height: 300px;

    background-color: rgb(230, 230, 230);

    border: 8px solid transparent;
    border-radius: 10px;

    outline: 2.5px solid black;

    display: flex;
    flex-direction: column;

    margin: 25px auto 25px auto;

    transition: scale 0.2s ease-in-out;
}

.donate_element img {
    height: 150px;
    object-fit: cover;

    border-radius: 10px 10px 0px 0px;
}

.donate_element h2 {
    margin: 8px auto 0px auto;
}

.donate_element:hover {
    scale: 1.2;
}

.donate_element h2, .donate_element p {
    font-family: sans-serif;
    margin-left: 7px;
    margin-right: 7px;
}