.content {
    width: 100%;
    height: 630px;

    display: flex;

    background-color: white;

    margin: 2vh 0px;
}

.context {
    border: 1px solid black;

    padding: 0px 40px;

    font-family: sans-serif;
}

.context h1 {
    font-weight: bold;
    font-size: 65px;
}

.content img {
    width: 40%;
    height: 630px;

    object-fit: cover;
}