.contactbackground {
    background: radial-gradient(ellipse at 0% 100%, rgba(255, 88, 0, 1) 0%, rgba(255, 193, 0, 1) 100%);

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;
    top: 0%;

    animation: background-brightness 5s infinite ease-in-out;
}

@keyframes background-brightness {
    0% {filter: brightness(0.8)}
    10% {filter: brightness(0.9)}
    20% {filter: brightness(1)}
    30% {filter: brightness(1.1)}
    40% {filter: brightness(1.2)}
    50% {filter: brightness(1.3)}
    60% {filter: brightness(1.2)}
    70% {filter: brightness(1.1)}
    80% {filter: brightness(1)}
    90% {filter: brightness(0.9)}
    100% {filter: brightness(0.8)}
}