.donate-container {
    width: calc(98% - 50px);
    height: 100vh;

    padding: 12.5px 25px 12.5px 25px;

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    margin: 90px auto 30px auto;

    position: relative;
    z-index: 2;

    overflow-y: scroll;

}